#input-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    width: 300px;
    border-radius: 10px;
    color: #4F4F4F;
    height: 40px;
    border: none;
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.8rem;
    animation-name: inputButtonShrink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.input:hover {
    animation-name: inputButtonGrow;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 425px) {
    .input{
        width: 250px;
    }
}

@-webkit-keyframes inputButtonGrow {
    from {}
    to {transform:scale(1.01);}
}
    
@keyframes inputButtonGrow {
    from {}
    to {transform: scale(1.01)}
}

@-webkit-keyframes inputButtonShrink {
    from {transform: scale(1.01);}
    to {transform:scale(1.0);}
}
    
@keyframes inputButtonShrink {
    from {transform: scale(1.01);}
    to {transform: scale(1.0)}
}