
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBarRoot {
    background:white;
    /*width: 103vw;
    padding: 10vw;*/
    width: 100vw;
    padding: 15px 0 15px 6vw;
    padding-left: 6vw;
    padding-right: 0;
    /*box-shadow: 0 0 3em, gray;*/
    position: relative;
}

.SearchBarWrapper {
    display: flex;
    size: 60px;
    height: 36px;
    background-color: #B61429;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 23.5px;
    position: relative;
    width: 60px;
    /*transition: width 600ms cubic-bezier(0.02, 0.89, 0.6, 1.2);*/
    transition: width 920ms cubic-bezier(0.25, 1.24, 0.57, 1.04);
    overflow: hidden;
}

.SearchBarInput {
    flex-grow: 1;
    border: 0;
    background: transparent;
    color: #4F4F4F;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 0 1.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.SearchBarInput::placeholder{
    color: #4F4F4F;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 0 0.5rem;
}

.SearchBarInput:focus {
    outline: 0;
}

.SearchBarSubmit {
    font-size: 1.5rem;
    cursor: pointer; 
    border: 0;
    background: 0;
    border-radius: 23.5px;
    background: #B61429;
    width: 54px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #888;
    margin-left: auto;
    transition: background 150ms ease-in-out;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.SearchIcon {
  fill: white;
  padding-top: 4px;
}

.SearchBarWrapper:focus-within{
    width: 92%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background: white;
}

.SearchBarWrapper:focus-within .SearchBarSubmit{
    background: #B61429;
    color: white;
}

.SearchBarWrapper:focus-within .SearchBarInput{
    opacity: 1;
    cursor: initial;

    width: calc(100% - 40px);
}


.SearchBarWrapper:focus-within .SearchBarSubmit:focus,
.SearchBarWrapper:focus-within .SearchBarSubmit:hover{
  outline: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.30);
}

@media only screen and (max-width: 425px) {
    /* Mobile */
    .SearchBarWrapper {
        height: 35px;
        transition: width 600ms cubic-bezier(0.25, 1.24, 0.57, 1.04);
    }
    .SearchBarSubmit {
        width: 40px;
    }
    .SearchBarInput::placeholder{
        font-size: 15px;
    }
}