.Root {
    position: absolute;
    background-color: #F8D869;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.CenterContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RightContentContainer {
    display: flex;
    flex-direction: column;
}

.LogInSignUpButton {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    background-color: #FCD64F;
    font-size: 1.1rem;
    color: #7D7D7D;
    border: solid 1px #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    margin: 5px;
}

.LogInSignUpButton:hover {
    background-color: rgb(224, 191, 69);  
}

#InfoText{
    margin: 6px;
    color: #7D7D7D;
}

#InfoText:hover {
    margin-top: 5px;
    text-decoration: underline;
}

.MainPageEntryButton{
    font-family: 'IBM Plex Sans', sans-serif;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #FF2B46;
    color: white;
    border: solid 1px #4F4F4F;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.MainPageEntryButton:hover{
    background-color: rgb(206, 35, 57);
}

.ButtonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gooseImage {
    padding-right: 100px;
    margin-bottom:50px;
}