.MenuBarRoot {
    background: #fcd64f;
    position: fixed;
    width: 100%;
    height: 40px;
}

.MenuBarContentWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.1rem 0.8rem;
}

.MenubarNavigation a {
    color: #4f4f4f;
    font-size: 0.8rem;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-style: normal;
    text-decoration: none;   
}

.MenubarNavigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.MenubarNavigation li {
    padding: 0 0 0 1rem;
}

.GooseImage {
    padding: 0;
    height: 1.5rem;
    width: 3rem;
}

.MenubarNavigation img {
    height: 1.4rem;
    width: 1.5rem; 
    fill: #c4c4c4;
}

.Spacer {
    flex: 1;
}

.VerticalSeperator {
    border:  1px solid #c4c4c4;
    height: 1.2rem;
}
